/* TASK_2: Make the title responsive */
.wrapper {
  /** << HERE */
}

.image {
  width: 250px;
  object-fit: contain;
}
.title {
  color: #607D82;
  font-size: 2.5rem;
}

.titleContainer {
  display: flex;
}
.backArrow {
  margin-right: 10px;
  cursor: pointer;
}