.main-container {
  padding: 60px;
  background: url('./assets/bg.jpg') no-repeat;
  min-height: 100vh;
}
.content-wrapper{
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
  height: calc(100% - 120px);
  max-height: calc(100% - 120px);
  border-radius: 3px;
  padding: 30px;
}

@media (max-width: 640px) {
  .main-container {
    padding: 20px;
  }
  .content-wrapper {
    padding: 10px;
  }
}